<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} [ LB.STDOUT %c ] %5p - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} [ %c{2} . %M %L ] %5p : %m%n</pattern>
    </encoder>
  </appender>

  <appender name="JDBC_SQL" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%n SQL ONLY : %5m%n</pattern>
    </encoder>
  </appender>

  <appender name="JDBC_RST_TBL" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%n RESULT SET TABLE : %5m%n</pattern>
    </encoder>
  </appender>

  <appender name="JDBCCONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>JDBC WARN : %d{HH:mm:ss} %5p [%c{2}] %M %L : %m%n</pattern>
    </encoder>
  </appender>


  <logger name="ais.parser" level="DEBUG" additivity="false">
    <appender-ref ref="console" />
  </logger>

  <logger name="org.mybatis" level="OFF" />
  <Logger name="java.sql" level="OFF" />

  <!-- debug -->
  <Logger name="jdbc.sqlonly" level="DEBUG" additivity="FALSE">
    <appender-ref ref="JDBC_SQL" />
  </Logger>

  <Logger name="jdbc.resultsettable" level="DEBUG"
    additivity="FALSE">
    <appender-ref ref="JDBC_RST_TBL" />
  </Logger>

  <!-- warn -->
  <Logger name="log4jdbc" level="WARN" additivity="FALSE">
    <appender-ref ref="JDBCCONSOLE" />
  </Logger>
  <Logger name="jdbc.sqltiming" level="WARN" additivity="FALSE">
    <appender-ref ref="JDBCCONSOLE" />
  </Logger>
  <Logger name="jdbc.audit" level="WARN" additivity="FALSE">
    <appender-ref ref="JDBCCONSOLE" />
  </Logger>
  <Logger name="jdbc.connection" level="WARN" additivity="FALSE">
    <appender-ref ref="JDBCCONSOLE" />
  </Logger>
  <Logger name="jdbc.resultset" level="WARN" additivity="FALSE">
    <appender-ref ref="JDBCCONSOLE" />
  </Logger>


  <logger name="ch.qos.logback" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <!-- Root Logger -->
  <Root level="TRACE">
    <appender-ref ref="STDOUT" />
  </Root>

</configuration>
